﻿<div class="row">
    <div id="imgLoading" style="width: 100%; height: 100%; z-index: 999; position: absolute; display:none">
        <img src="~/Assets/img/loading.gif" style="top: 180px; position: absolute; left: 420px;" />
    </div>    
    @using (Html.BeginForm("GetRates", "Home"))
    {
        <div class="form-group">
            <div class="form-check">
                @*<input class="form-check-input" type="checkbox" name="pWsEnabledFlag" checked>*@
                @Html.CheckBox("pWsEnabledFlag", true)
                <label class="form-check-label">
                    WS Active
                </label>
            </div>
            <small class="form-text text-muted">Unmark this square to simulate a problem with the Web Service in this call.</small>
        </div>

        <input type="submit" onclick="javascript: showLoading();" class="btn btn-primary" value="GET RATES" />
    }

    <hr/>

    @using (Html.BeginForm("GetTransactions", "Home"))
    {
        <div class="form-group">
            <div class="form-check">
                @Html.CheckBox("pWsEnabledFlag", true)
                <label class="form-check-label">
                    WS Active
                </label>
            </div>
            <small class="form-text text-muted">Unmark this square to simulate a problem with the Web Service in this call.</small>
        </div>

        <input type="submit" onclick="javascript: showLoading();" class="btn btn-primary" value="GET TRANSACTIONS" />
    }

    <hr />

    @using (Html.BeginForm("GetConversionResult", "Home"))
    {
        <div class="form-group">
            <div class="form-check">
                @Html.CheckBox("pWsEnabledFlag", true)
                <label class="form-check-label">
                    WS Active
                </label>
            </div>
            <small class="form-text text-muted">Unmark this square to simulate a problem with the Web Service in this call.</small>
        </div>
        <div class="form-group mb-2">
            <label>SKU</label>
            <input type="text" class="form-control-plaintext" name="pSKU">
        </div>

        <input type="submit" onclick="javascript: showLoading();" class="btn btn-primary" value="GET CONVERSIONS" />
    }
</div>

<script type="text/javascript">

    function showLoading() {
        document.getElementById("imgLoading").style.display = "block";
    }

    //$(document).ready(function () {
    //    $('form').submit(function () {
    //        $("imgLoading").css("display", "block");
    //            return false;
    //    });
    //});

</script>
