﻿@model InternationalBussinesMen.Models.ResultsModels

@{
    ViewBag.Title = "Results";
}

<h3>Results</h3>

<p>
    @Html.ActionLink("Back to Index", "Index")
</p>


<div>
    <hr />
    <dl class="dl-horizontal">

        @if (Model.ConversionValueResult > 0)
        {
            <label>Total:</label>
            @Html.DisplayFor(model => model.ConversionValueResult)
        }

        <dd>
            <label>List</label>
            @Html.DisplayFor(model => model.ConversionStrXmlListResult)
        </dd>

    </dl>
</div>